.ccClass
{
    width: 650px;
    border: none;
}
.ctxtClass
{
    color: #576B81;
    font-size: 20px;
}
.uiageClass
{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
.nameClass
{
    color: #0F2B4A;
    font-size: 23px;
    font-weight: 500;
}